/* You can add global styles to this file, and also import other style files */
table {
    border-collapse: collapse;
}
thead {
    border: 1px solid;
    padding: 5px;
    text-align: center;
}
td {
    border: 1px solid;
    padding: 5px;
    text-align: left;
}